<h1>Welcome to Earl, the link shortener</h1>
<p>Send a POST to /shorten to shorten a URL</p>
Example request:
<pre>
curl -X POST --data 'http://www.google.com' http://localhost:3000/shorten
</pre>
Response:
<pre>
http://localhost:3000/BHNAZINL
</pre>