<h1>New</h1>

<%= form_with scope: :link, url: links_path, local: true do |form| %>    
    <p>
      <%= form.label :link %><br>
      <%= form.text_field :link %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>