<div class="mx-auto w-25 p-5">
<h1>Earl Link Shortener</h1>
</div>
<%= form_with scope: :link, url: links_path, local: true, class: "form-inline w-75 mx-auto m-height" do |form| %>
  <div class="form-group mx-sm-3 w-100 mx-auto">
    <% if flash[:invalid] %>
      <div class="alert alert-danger w-75" role="alert">
        <strong>Invalid URL submitted.</strong>  Please enter a valid URL.
      </div>
    <% end %>
    <%= form.text_field :link, class: "form-control w-75", placeholder: "http://www.example.com" %>
    <%= form.submit class: "btn btn-primary mx-sm-3", value: "Shorten Link", "data-disable-with": "Shorten Link" %>
  </div>
<% end %>